[job_builder]
ignore_cache=True
recursive=False
allow_duplicates=False

[jenkins]
user={{ jenkins_master_userapi | default( jenkins_admins[0][0] )}}
password={{ jenkins_user_token }}
url=http://localhost:8080

