import jenkins.model.*
import hudson.security.*
import hudson.model.*

def instance = Jenkins.getInstance()
def hudsonRealm = new HudsonPrivateSecurityRealm({% if jenkins_allow_signups %}true{% else %}false{% endif %})
def strategy = new FullControlOnceLoggedInAuthorizationStrategy()

{% for entry in jenkins_admins %}
hudsonRealm.createAccount("{{ entry[0] }}","{{ entry[1] }}")
{% endfor %}

instance.setSecurityRealm(hudsonRealm)

instance.setAuthorizationStrategy(strategy)

instance.save()

