import jenkins.model.*
import hudson.security.*

def instance = Jenkins.getInstance()
def hudsonRealm = new HudsonPrivateSecurityRealm({% if jenkins_allow_signups %}true{% else %}false{% endif %})
def strategy = new GlobalMatrixAuthorizationStrategy()

{% for entry in jenkins_admins %}
hudsonRealm.createAccount("{{ entry }}","{{ jenkins_initial_password }}")
{% endfor %}

instance.setSecurityRealm(hudsonRealm)

{% for entry in jenkins_admins %}
strategy.add(Jenkins.ADMINISTER, "{{ entry }}")
{% endfor %}

instance.setAuthorizationStrategy(strategy)

instance.save()

